body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: "Outfit", sans-serif !important;
  color: #414141 !important;
}

.admin {
  font-size: 14px;
  margin-left: 10px;
  border: 1px solid rgba(216, 216, 216, 0.571);
  border-radius: 30px;
  /* padding: 10px 15px; */
}

.box {
  width: 53%;

}

.upperhead {

  display: inline-block;
  width: 2.75rem;
  height: 2px;
  background-color: #414141;
  left: 164px;
  top: 12px;
}

.heading>h1 {
  font-family: "Prata", serif !important;
}
.custom-text-color{
  color: #6B7280 !important;
}